[gcode_macro LOAD_FILAMENT]
#
# LOAD_FILAMENT
#
# Heat to 200°C then prime the nozzle
description: Load filament (heat nozzle if necessary)
gcode:
   M117 Loading filament...
   {% if printer[printer.toolhead.extruder].temperature < 200.0 %}
   STATUS_HEATING
   M117 Heating hotend...
   SET_HEATER_TEMPERATURE HEATER='extruder' TARGET=200
   TEMPERATURE_WAIT SENSOR='extruder' MINIMUM=200
   {%endif%}
   STATUS_BUSY
   M118 Loading filament...
   M83                            ; set extruder to relative
   G1 E40 F300                    ; slower extrusion for hotend path
   G1 E15 F150                    ; prime nozzle with filament
   M82                            ; set extruder to absolute
   UPDATE_DELAYED_GCODE ID=_CLEAR_DISPLAY DURATION=10
   STATUS_READY

[gcode_macro UNLOAD_FILAMENT]

# UNLOAD_FILAMENT

# Heat the nozzle to 230°C then retract the filament out of the toolhead
# description: Heat the nozzle (if needed), then retract the filament out of the toolhead
gcode:
  {% if printer[printer.toolhead.extruder].temperature < 210.0 %}
    STATUS_HEATING
    M118 Heating hotend...
    SET_HEATER_TEMPERATURE HEATER='extruder' TARGET=230
    TEMPERATURE_WAIT SENSOR='extruder' MINIMUM=230
  {% endif %}
  STATUS_BUSY
  M118 Unloading filament...
  M83                            ; set extruder to relative
  G1 E2 F300                    ; extrude a little to soften tip
  G1 E-80 F1800                 ; retract filament completely
  M82                            ; set extruder to absolute
  UPDATE_DELAYED_GCODE ID=_CLEAR_DISPLAY DURATION=10
  STATUS_READY